.banner{
    background-image: url(../../img/hero-vines_1920x700_crop_center.jpg);
    width: 100%;
    height: 610px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    p{
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;    
        word-spacing: 5px;    
    }

    h1{
        color: #fff;
        font-size: 45px;
        text-transform: uppercase;
        margin: 0;
    }
}

.section-explore_whitehall{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .titre-section{
        margin:  40px 0 0 0;
        text-align: center;

        p{
            color: #1d1d1b;
            text-transform: uppercase;
            font-weight: bold;
        }
    
        h1{
            color: #1d1d1b;
            text-transform: uppercase;
            font-size: 32px;
            font-weight: lighter;
        }
    }

    .container-grid-explore{
        display: grid;
        grid-template-columns: repeat(4, 300px);
        column-gap: 40px;

        .container-scale{
            overflow: hidden;
            margin-bottom: 30px;

            img{
                transition: 0.5s all ease-in-out;

                &:hover{
                    transform: scale(1.08);
                    transition: 0.5s all ease-in-out;
                }
            }
        }

        a{
            color: #000;
            text-transform: uppercase;
            font-size: 20px;
        }
    }
}

.section-a_family_business{
    background-color: #fafafa;
    margin-top: 50px;
    padding: 50px 0;
    
    .container-women-article{
        display: grid;
        grid-template-columns: repeat(1, 610px 400px);
        justify-content: center;
        align-items: center;
        column-gap: 300px;
        height: 800px;

        .container-women-img{
            width: 610px;
            height: 800px;

            img{
                width: 100%;
                height: 100%;
            }
        }

        .container-women-txt{
            text-align: center;
            
            .small-titre{
                text-transform: uppercase;
                letter-spacing: 2px;
                font-weight: bold;
            }

            h1{
                font-size: 38px;
                text-transform: uppercase;
                font-weight: lighter;
            }

            .small-txt{
                line-height: 25px;
                margin-bottom: 50px;
                width: 375px;
                margin: 50px auto;
            }

            .btn-light{
                background-color: #96958a;
                color: #fff;
                text-transform: uppercase;
                padding: 15px 50px;
                margin-top: 40px;
                font-size: 16px;
                transition: 0.3s all ease-in-out;

                &:hover{
                    background-color: #a8a79b;
                    transition: 0.3s all ease-in-out;
                }
            }

        }

    }
}

.section-our_favourite_collctions{
    .titre-section{
        margin:  40px 0 0 0;
        text-align: center;

        p{
            color: #1d1d1b;
            text-transform: uppercase;
            font-weight: bold;
        }
    
        h1{
            color: #1d1d1b;
            text-transform: uppercase;
            font-size: 32px;
            font-weight: lighter;
        }
    }

    .container-articles-our{
        display: grid;
        grid-template-columns: repeat(2, 660px);
        column-gap: 40px;
        justify-content: center;
        margin-bottom: 200px;

        .container-scale{
            overflow: hidden;
            margin-bottom: 30px;

            img{
                transition: 0.5s all ease-in-out;

                &:hover{
                    transform: scale(1.08);
                    transition: 0.5s all ease-in-out;
                }
            }
        }

        .container-txt-our{
            width: 400px;
            margin: 0 auto;
            h2{
                text-transform: uppercase;
                font-size: 32px;
                text-align: center;
            }

            p{
                text-align: center;
            }
        }

        .container-link_info{
            display: flex;
            justify-content: center;
            align-items: center;

            a{
                text-transform: uppercase;
                color: #000;
            }

            p{
                margin: 0 20px;
            }
        }
    }
}

.section-on_the_grape_vine{
    
    .titre-section{
        h1{
            color: #1d1d1b;
            text-transform: uppercase;
            font-size: 32px;
            font-weight: lighter;
            text-align: center;
        }
    }

    .container-articles-grape_vine{
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(3, 435px);
        column-gap: 30px;
        margin-bottom: 80px;
        
        a:hover{
            img{
                transform: scale(1.08);
                transition: 0.5s all ease-in-out;
            }
        }

        .container-scale{
            overflow: hidden;
            margin-bottom: 30px;

            img{
                transition: 0.5s all ease-in-out;
                width: 100%;
            }
        }

        a{
            color: #1d1d1b;
            p{
                text-transform: uppercase;
                font-weight: bold;
                letter-spacing: 5px;
                font-size: 11px;
            }

            h2{
                text-transform: uppercase;
                font-weight: lighter;
            }
        }

        .container-footer-articles{
            a{
                text-transform: uppercase;
                color: #1d1d1b; 
                font-weight: bold;
            }
        }
    }

    .container-btn{
        text-align: center;
        margin-bottom: 60px;

        .btn-light{
            background-color: #96958a;
            color: #fff;
            text-transform: uppercase;
            padding: 15px 50px;
            margin-top: 40px;
            font-size: 16px;
            transition: 0.3s all ease-in-out;
    
            &:hover{
                background-color: #a8a79b;
                transition: 0.3s all ease-in-out;
            }
        }
    }
}

// Pages-02

.section-bottles{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 1380px;
    margin: 0 auto;
    gap: 30px;
    padding: 50px 0;

    .container-bottles-articles{

        .bottles-description{
            display: flex;
            align-items: center;
            justify-content: space-between;

             
    
            p{
                font-size: 14px;
                margin-top: 20px;
            }
        }

        p{
            margin-top: 20px;
        }
    }
}