.banner{
    background-image: url(../../img/hero-vines_1920x700_crop_center.jpg);
    width: 100%;
    height: 610px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    p{
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;    
        word-spacing: 5px;    
    }

    h1{
        color: #fff;
        font-size: 45px;
        text-transform: uppercase;
        margin: 0;
    }
}

.section-explore_whitehall{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .titre-section{
        margin:  40px 0 0 0;
        text-align: center;

        p{
            color: #1d1d1b;
            text-transform: uppercase;
            font-weight: bold;
        }
    
        h1{
            color: #1d1d1b;
            text-transform: uppercase;
            font-size: 32px;
            font-weight: lighter;
        }
    }

    .container-grid-explore{
        display: grid;
        grid-template-columns: repeat(4, 300px);
        column-gap: 40px;

        .container-scale{
            overflow: hidden;
            margin-bottom: 30px;

            img{
                transition: 0.5s all ease-in-out;

                &:hover{
                    transform: scale(1.08);
                    transition: 0.5s all ease-in-out;
                }
            }
        }

        a{
            color: #000;
            text-transform: uppercase;
            font-size: 20px;
        }
    }
}

.section-a_family_business{
    background-color: #fafafa;
    margin-top: 50px;
    padding: 50px 0;
    
    .container-women-article{
        display: grid;
        grid-template-columns: repeat(1, 610px 400px);
        justify-content: center;
        align-items: center;
        column-gap: 300px;
        height: 800px;

        .container-women-img{
            width: 610px;
            height: 800px;

            img{
                width: 100%;
                height: 100%;
            }
        }

        .container-women-txt{
            text-align: center;
            
            .small-titre{
                text-transform: uppercase;
                letter-spacing: 2px;
                font-weight: bold;
            }

            h1{
                font-size: 38px;
                text-transform: uppercase;
                font-weight: lighter;
            }

            .small-txt{
                line-height: 25px;
                margin-bottom: 50px;
                width: 375px;
                margin: 50px auto;
            }

            .btn-light{
                background-color: #96958a;
                color: #fff;
                text-transform: uppercase;
                padding: 15px 50px;
                margin-top: 40px;
                font-size: 16px;
                transition: 0.3s all ease-in-out;

                &:hover{
                    background-color: #a8a79b;
                    transition: 0.3s all ease-in-out;
                }
            }

        }

    }
}

.section-our_favourite_collctions{
    .titre-section{
        margin:  40px 0 0 0;
        text-align: center;

        p{
            color: #1d1d1b;
            text-transform: uppercase;
            font-weight: bold;
        }
    
        h1{
            color: #1d1d1b;
            text-transform: uppercase;
            font-size: 32px;
            font-weight: lighter;
        }
    }

    .container-articles-our{
        display: grid;
        grid-template-columns: repeat(2, 660px);
        column-gap: 40px;
        justify-content: center;
        margin-bottom: 200px;

        .container-scale{
            overflow: hidden;
            margin-bottom: 30px;

            img{
                transition: 0.5s all ease-in-out;

                &:hover{
                    transform: scale(1.08);
                    transition: 0.5s all ease-in-out;
                }
            }
        }

        .container-txt-our{
            width: 400px;
            margin: 0 auto;
            h2{
                text-transform: uppercase;
                font-size: 32px;
                text-align: center;
            }

            p{
                text-align: center;
            }
        }

        .container-link_info{
            display: flex;
            justify-content: center;
            align-items: center;

            a{
                text-transform: uppercase;
                color: #000;
            }

            p{
                margin: 0 20px;
            }
        }
    }
}

.section-on_the_grape_vine{
    
    .titre-section{
        h1{
            color: #1d1d1b;
            text-transform: uppercase;
            font-size: 32px;
            font-weight: lighter;
            text-align: center;
        }
    }

    .container-articles-grape_vine{
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(3, 435px);
        column-gap: 30px;
        margin-bottom: 80px;
        
        a:hover{
            img{
                transform: scale(1.08);
                transition: 0.5s all ease-in-out;
            }
        }

        .container-scale{
            overflow: hidden;
            margin-bottom: 30px;

            img{
                transition: 0.5s all ease-in-out;
                width: 100%;
            }
        }

        a{
            color: #1d1d1b;
            p{
                text-transform: uppercase;
                font-weight: bold;
                letter-spacing: 5px;
                font-size: 11px;
            }

            h2{
                text-transform: uppercase;
                font-weight: lighter;
            }
        }

        .container-footer-articles{
            a{
                text-transform: uppercase;
                color: #1d1d1b; 
                font-weight: bold;
            }
        }
    }

    .container-btn{
        text-align: center;
        margin-bottom: 60px;

        .btn-light{
            background-color: #96958a;
            color: #fff;
            text-transform: uppercase;
            padding: 15px 50px;
            margin-top: 40px;
            font-size: 16px;
            transition: 0.3s all ease-in-out;
    
            &:hover{
                background-color: #a8a79b;
                transition: 0.3s all ease-in-out;
            }
        }
    }
}

// Pages-02

.section-bottles{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 1380px;
    margin: 0 auto;
    gap: 30px;
    padding: 50px 0;

    .container-bottles-articles{

        &:nth-child(5){
            grid-column: 1 / span 2;
            grid-row: 2 / span 2;
            position: relative;
            overflow: hidden;

            img{
                width: 100%;
                height: 100%;
                transition: 0.5s all ease-in-out;
            
            }
            &:hover img{
                transform: scale(1.05);
                transition: 0.5s all ease-in-out;
            }
        }

        .background-gradient::before{
            content: "";
            position: absolute;
            background: rgb(0,0,0);
            background: linear-gradient(180deg, rgba(0,0,0,0) 70%, rgba(0,0,0,1) 100%);
            width: 100%;
            height: 100%;
            z-index: 1;
        }

        .wine_club{
            position: absolute;
            bottom: 50px;
            left: 25px;
            width: auto;
            display: flex;
            flex-direction: column;
            z-index: 2;

            .wine_club-titre{
                margin-bottom: 50px;
                h1{
                    color: #fff;
                    margin: 0;
                    font-size: 48px;
                }
            }

            .wine_club-btn{
                a{
                    color: #000;
                    text-transform: uppercase;
                    background-color: #fafafa;
                    margin: 0;
                    padding: 15px 75px;
                    font-size: 15px;
                }
            }
        }
    
        a{
            position: relative;
        }

        &:nth-child(1){
            .bottles-img{
                background-image: url(../../img/pinot19_628x628.png);

                &:hover{
                    background-image: url(../../img/nethercote181_628x628.png);
                }
            }
        }
        &:nth-child(2){
            .bottles-img{
                background-image: url(../../img/nethercote18_628x628.png);

                &:hover{
                    background-image: url(../../img/nethercote181_628x628.png);
                }
            }
        }
        &:nth-child(3){
            .bottles-img{
                background-image: url(../../img/pinotgris_628x628.png);

                &:hover{
                    background-image: url(../../img/pinotgris1_628x628.png);
                }
            }
        }
        &:nth-child(4){
            .bottles-img{
                background-image: url(../../img/Bacchus2020_628x628.png);

                &:hover{
                    background-image: url(../../img/bacchus201_628x628.png);
                }
            }
        }
        &:nth-child(6){
            .bottles-img{
                background-image: url(../../img/watermeadows_628x628.png);

                &:hover{
                    background-image: url(../../img/water1_628x628.png);
                }
            }
        }
        &:nth-child(7){
            .bottles-img{
                background-image: url(../../img/BellaRosa_628x628.png);

                &:hover{
                    background-image: url(../../img/rosa1_628x628.png);
                }
            }
        }
        &:nth-child(8){
            .bottles-img{
                background-image: url(../../img/MulledWine2020_628x628.png);

                &:hover{
                    background-image: url(../../img/IMG_E4764_628x628.jpg);
                }
            }
        }
        &:nth-child(9){
            .bottles-img{
                background-image: url(../../img/CharlotteMay2021_628x628.png);

                &:hover{
                    background-image: url(../../img/rosa1_628x628.png);
                }
            }
        }
        &:nth-child(10){
            .bottles-img{
                background-image: url(../../img/chardonnay_628x628.png);
            }
        }
        &:nth-child(11){
            .bottles-img{
                background-image: url(../../img/SPARKLINGROSE_628x628.jpg);
            }
        }
        &:nth-child(12){
            .bottles-img{
                background-image: url(../../img/LadyoftheValley_628x628.png);

                &:hover{
                    background-image: url(../../img/rosa1_628x628.png);
                }
            }
        }
        &:nth-child(13){
            .bottles-img{
                background-image: url(../../img/WhitePinotNoir_628x628.png);

                &:hover{
                    background-image: url(../../img/pinot191_628x628.png);
                }
            }
        }

        .bottles-img{
            width: 330px;
            height: 320px;
            background-size: cover;
            background-position: center;

            &:hover{
                background-size: cover;
                background-position: center;

                .container-bottles-btn{
                    display: flex;
                    width: 100%;
                    justify-content: center;
    
                    .bottles-btn{
                        position: absolute;
                        z-index: 1;
                        background-color: #808090;
                        color: #fff;
                        text-transform: uppercase;
                        padding: 20px 0;
                        bottom: 60px;
                        display: flex;
                        justify-content: center;
                        width: 70%;
                    }
                }
            }

            .new_release{
                background-color: #f6f6f0;
                top: 15px;
                left: 15px;
                position: absolute;
                padding: 5px 10px;

                p{
                    margin: 0;
                    color: #000;
                    font-size: small;
                }
            }

            .circle { 
                width: 30px;
                height: 30px;
                background: #fafafa;
                border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
                position: absolute;
                z-index: 1;
                top: 10px;
                right: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .bottles-btn{
                display: none;
            }
        }

        .bottles-description{
            display: flex;
            align-items: center;
            justify-content: space-between;
            
            p{
                font-size: 14px;
                margin-top: 20px;
                margin-bottom: 10px;
                color: #000;
            }
        }

        .years{
            margin: 0;
            color: #808090;
            font-size: 14px;
        }
    }
}