body{
    position: relative;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
}

main{
    margin-top: 203px;
}

.top-header{
    background-color: #96958a;
    display: flex;
    justify-content: space-around;

    p{
        color: #fff;
        font-weight: bold;
        margin: 10px 0;
    }
}

.middle_footer-header{
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
    
    .middle-header{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 30px 0;

        .container-search{
            width: 240px;
            background-color: #fff;
            border: 1px solid #e6e6e6;
            height: 55px;
            vertical-align: middle;
            display: flex;
            align-items: center;

            img{
                width: 20px;
                height: 20px;
                margin: 0 5px;
                cursor: text;
            }
        }

        .logo-center{
            margin-right: 100px;
        }

        input{
            border: none;
        }

        .logo-header{
            width: 250px;
            height: 55px;
        }

        .btn-login-header{
            display: flex;

            .love{
                margin: 0 20px;
            }
        }
    }

    .footer-header{
        display: flex;
        border-top: 1px solid #e6e6e6;
        border-bottom: 1px solid #e6e6e6;
        padding: 15px 0;
        justify-content: center;

        div{
            margin-right: 30px;

            a{
                text-transform: uppercase;
                color: #000;
                font-size: 15px;
            }
        }
    }

}